<div class="body">
  <div class="container">
    <div class="row">
      <%= render "left_side" %>
      <div class="col-xs-9">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                
              </td>
              <td>
                <%= @book.title %>
              </td>
              <td>
                <%= @book.opinion %>
              </td>
              <td>
                <%= link_to "Edit", edit_book_path(@book), class: "btn-sm btn-success" %>
              </td>
              <td>
                <%= link_to "Destroy", book_path(@book), class: "btn-sm btn-danger", method: :delete, data: {confirm: "削除しますか？"} %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>