<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>
        <h1>Bookers</h1>
      </div>
      <div>
        <ul>
          <li><%= link_to "Home" %></li>
          <li><%= link_to "About" %></li>
          <li><%= link_to "sign_up" %></li>
          <li><%= link_to "log_in" %></li>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
